div{
	font-family:Courier;
	display:inline-block;
	margin:1px;
	padding:1px;
	text-indent: 10px;
	text-align:center;
	z-index: 4;
}
.active_button,.inactive_button,.inactive_button2{
cursor:pointer;
width:38px;
height:28px;
border: 1px solid #66CFF1;
border-radius:5px;
text-align:center;
vertical-align:text-top;
margin:0px;
padding:0px;
text-indent:0px;
}
.active_button:hover, .inactive_button:hover{
background:#66CFF1;
}
.inactive_button2{
cursor:default;
border: 0px solid #fff;
/*border-radius:5px;*/
}
.containerX{
/*border: 3px solid green;*/
	margin-left:auto;
	margin-top:1%;
	margin-bottom:50px;
	text-align:center;
	width:98%;
}
.vblock{
clear: left;
display:block;
/*border: 3px solid red;*/
}
.hblock{
display:inline-block;
margin-left:10px;
padding:5px;
float: left;
/*border: 3px solid blue;*/
}
.hinfoblock{
display:inline-block;
margin-left:10px;
width:190px;
height:50px;
padding:5px;
float: left;
/*border: 3px solid blue;*/
}
.sqr{
display:inline-block;
position:relative;
height:auto;
max-width:200px;
color:black;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/

}
.bsqr{
display:inline-block;
position:relative;
top:-40px;
left:-50px;
height:100px;
width:200px;
/*border: 3px solid black;*/
}
.green{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
background: rgb(180,227,145); /* Old browsers */
background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */	
}
.blue{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}
